table , tr , th  {
    margin: auto;
    width: 600px;
    height: 100px;
    border: 3px gray solid;
}
#thongbao{
    text-blink: ;
}
@-webkit-keyframes nhapnhay {
    0% { color: red;
        transform: scale(1)}
    100% { color: black;
        transform: scale(1.2)}
}

#thongbao {
    font-size:24px;
    font-weight:bold;
    animation: nhapnhay 700ms infinite;
}
#time{
    font-size: 30px;
    background: black;
    color: red;

}
